src/main/mule/global/retrieveconsolidatedroutesandschedules-xpapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd "> 
    <flow name="retrieveconsolidatedroutesandschedules-xpapi-main">
        <http:listener config-ref="retrieveconsolidatedroutesandschedules-xpapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveconsolidatedroutesandschedules-xpapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
            
        </error-handler>
    </flow>
    <flow name="retrieveconsolidatedroutesandschedules-xpapi-console">
        <http:listener config-ref="retrieveconsolidatedroutesandschedules-xpapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieveconsolidatedroutesandschedules-xpapi-config" />
		<error-handler ref="globalErrorHandlerError_Handler" />
    </flow>
    <sub-flow name="retrieveconsolidatedroutesandschedules-xpapiSub_Flow" doc:id="1de8abcc-2625-4637-8ccc-d83708879dc7" >
		<ee:transform doc:name="Initialize variables">
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="transactionId" ><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
				<ee:set-variable variableName="companyName" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.companyName]]></ee:set-variable>
				<ee:set-variable variableName="departureLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.departureLocation]]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation" ><![CDATA[%dw 2.0
output application/java
---
attributes.queryParams.destinationLocation]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\booking\(transportType)\routes:retrieveconsolidatedroutesandschedules-xpapi-config">
        <flow-ref doc:name="Initialize" doc:id="2a9ae1c3-d018-4800-a419-1fce0992e0b4" name="retrieveconsolidatedroutesandschedules-xpapiSub_Flow"/>
		<logger level="INFO" doc:name="Request received" doc:id="97b344d4-6297-40d7-8c1c-665c3a758290" message="Request received to routes BAPI for transactionId #[vars.transactionId]"/>
		<flow-ref doc:name="getRoutes" doc:id="610f2594-7d14-4620-8a61-aa9b5dc1ca96" name="getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Response sent" doc:id="0df10e28-4d85-4c43-9546-4bdcacb3fd08" message="Response sent from routes BAPI for transactionId #[vars.transactionId]"/>
    </flow>
    <flow name="get:\booking\(transportType)\schedules:retrieveconsolidatedroutesandschedules-xpapi-config">
        <flow-ref doc:name="Initialize" doc:id="6b40116c-e101-4b08-976b-4820be391b90" name="retrieveconsolidatedroutesandschedules-xpapiSub_Flow"/>
		<logger level="INFO" doc:name="Request received" doc:id="5532c84c-01e9-43ef-9b7c-4a45cd4526df" message="Request received to schedules BAPI for transactionId #[vars.transactionId]"/>
		<flow-ref doc:name="getSchedules" doc:id="0ef8a644-0830-4448-8612-d20d3dd97185" name="getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Response sent" doc:id="016ae3b3-e12b-4758-9570-8f899c5ad6fa" message="Response sent from schedules BAPI for transactionId #[vars.transactionId]"/>
    </flow>
</mule>
